* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #15a6e9;
    --body-color: #f2e6e8;
}
html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    font-size: 1.6rem;
    font-family: "Gotham";
    background: var(--body-color);
    color: #fff;
}

a {
    text-decoration: none;
}

input,
button,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
}

/* ScrollBar Styling */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.container {
    width: 366px;
    height: 650px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background: linear-gradient(
        to top,
        rgba(109, 213, 237, 1),
        rgba(255, 0, 0, 0)
    );
}

i {
    cursor: pointer;
    transition: all 0.3s ease;
}
i:hover {
    color: #106f9b;
}
i.active {
    color: var(--primary-color);
}
/* Top */
.top {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.6rem;
    z-index: 10;
}
.container.active .top {
    color: #111;
}
/* Cover image */
.cover-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 366px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        to top,
        rgba(255, 0, 0, 0),
        rgba(109, 213, 237, 1)
    );
    transform-origin: 0% 0%;
    transition: all 0.3s ease;
}
.container.active .cover-image {
    transform: scale(0.251);
    left: 23px;
    top: 60px;
    border-radius: 20px;
}
.cd {
    display: flex;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
}
.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background: url("/assets/imgs/xesi.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0% 0%;
    margin: auto;
}

/* Player body */
.player-body {
    position: absolute;
    top: 366px;
    left: 0;
    height: 286px;
    width: 100%;
    background-color: #111;
    transition: all 0.3s ease;
}
.container.active .player-body {
    height: 470px;
    left: 0;
    top: 180px;
}
/* List Wraper */
.list-wrapper {
    font-family: "VN Cocon";
    height: 425px;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 378px;
    transform-origin: 0% 0%;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
}
.container.active .list-wrapper {
    top: 182px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.list {
    width: 100%;
    border-spacing: 0 2px;
}

.list tr {
    --height: 50px;

    height: var(--height);
    text-align: center;
    background-color: #1d1d1d;
    text-indent: 8px;
    transform-origin: 0% 50%;
}
.list td {
    line-height: var(--height);
}
.list tr:hover {
    background-color: #222;
    cursor: pointer;
}

.list .title {
    width: 215px;
    text-align: left;
    text-indent: 15px;
    transition: all 0.3s ease;
}
.list tr:hover .title {
    padding-left: 5px;
    width: 210px;
}

/* Current song title */
.current-song-title {
    font-family: "VN Cocon";
    position: absolute;
    right: 23px;
    font-size: 1.4rem;
    bottom: -60px;
    transition: all 0.3s ease;
}

.container.active .current-song-title {
    bottom: 10px;
}

/* info */
.info {
    position: absolute;
    top: 440px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s ease;
}
.info h2 {
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.info h3 {
    font-size: 1rem;
    color: #6d6d6d;
}

.container.active .info {
    top: 60px;
    left: 126px;
    text-align: left;
    transform: translateX(0);
    color: #111;
}

/* Controls */
.control {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    transition: all 0.3s ease;
}

.control #playpause {
    font-size: 4rem;
}

.container.active .control {
    position: absolute;
    width: 216px;
    bottom: 4px;
    left: -44px;
    transform: scale(0.6);
}

/* more control */
.more-control {
    font-size: 1.5rem;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 20;
    transition: all 0.3s ease;
    color: #6d6d6d;
}

.container.active .more-control {
    bottom: -60px;
}
